body {
    min-width: 300px;
}

#tab-info {
    font-size: large;
}

#radio-btns {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

label {
    margin-right: 0.5rem;
}